.login-container {
  min-height: 100vh;
}
.login-login {
  width: 100%;
  height: 900px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-image: linear-gradient(159deg, rgba(13, 12, 25, 1) 0%, rgba(58, 19, 77, 1) 40%, rgba(154, 57, 156, 1) 84%, rgba(63, 21, 95, 1) 100%);
}
.login-glass-box {
  top: 73px;
  left: 168px;
  width: 1100px;
  height: 655px;
  display: flex;
  padding: 0;
  position: absolute;
  flex-wrap: wrap;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: rgba(255, 255, 255, 0.52);
  border-style: solid;
  border-width: 4px;
  margin-right: 0;
  border-radius: 10px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
  background-image: linear-gradient(143deg, rgba(87, 71, 133, 0.550000011920929) 0%, rgba(251, 222, 222, 0.3199999928474426) 100%);
}
.login-logopart {
  top: 0px;
  left: 0px;
  width: 412.6123046875px;
  bottom: 0px;
  height: 654px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
  background-image: linear-gradient(180deg, rgba(197, 192, 255, 0.5699999928474426) 0%, rgba(255, 255, 255, 0.6000000238418579) 100%);
}
.login-q {
  top: 134.0625px;
  left: 37.67724609375px;
  width: 311px;
  height: 273px;
  position: absolute;
  border-color: transparent;
}
.login-text {
  top: 408.75px;
  left: 9.18951416015625px;
  color: rgba(196, 189, 207, 1);
  width: 370px;
  height: auto;
  position: absolute;
  font-size: 70px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Nova Script;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-text02 {
  top: 494.99999999999994px;
  left: 28.16204833984375px;
  color: rgba(255, 255, 255, 1);
  width: 363px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Book;
  text-align: center;
  font-family: Nova Square;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-name {
  top: 201px;
  left: 885px;
  width: 46px;
  height: 47px;
  position: absolute;
  border-color: transparent;
}
.login-lock {
  top: 271px;
  left: 892px;
  width: 37px;
  height: 37px;
  position: absolute;
  border-color: transparent;
}
.login-textinput {
  top: 200px;
  left: 489px;
  color: #000000;
  width: 443px;
  height: 45px;
  z-index: 30;
  position: absolute;
  align-self: flex-start;
  text-align: justify;
  caret-color: var(--dl-color-gray-white);
  font-family: Archivo;
  border-width: 0px;
  background-color: rgba(255, 255, 255, 0.6);
  text-emphasis-color: var(--dl-color-success-300);
}
.login-social-login {
  left: 479px;
  width: 464.073974609375px;
  bottom: 21px;
  height: 134.5625px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.login-text04 {
  left: 221.546875px;
  color: rgba(255, 255, 255, 0.699999988079071);
  width: 28px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Book;
  text-align: center;
  font-family: Nova Square;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-line2 {
  top: 12.687507629394531px;
  left: 464.073974609375px;
  width: 207px;
  height: 0px;
  position: absolute;
}
.login-line1 {
  top: 12.687507629394531px;
  left: 206.765625px;
  width: 207px;
  height: 0px;
  position: absolute;
}
.login-navlink {
  display: contents;
}
.login-git-hub {
  top: 73.62499237060547px;
  left: 301.4183349609375px;
  width: 60px;
  height: 61px;
  position: absolute;
  border-color: transparent;
  text-decoration: none;
}
.login-navlink1 {
  display: contents;
}
.login-google {
  top: 73.62499237060547px;
  left: 103.84228515625px;
  width: 60px;
  height: 61px;
  position: absolute;
  border-color: transparent;
  text-decoration: none;
}
.login-navlink2 {
  display: contents;
}
.login-facebook {
  top: 73.62499237060547px;
  left: 199.4139404296875px;
  width: 60px;
  height: 61px;
  position: absolute;
  border-color: transparent;
  text-decoration: none;
}
.login-text06 {
  top: 31.437498092651367px;
  left: 87.301025390625px;
  color: rgba(255, 255, 255, 0.7300000190734863);
  width: 290px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Archivo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-navlink3 {
  display: contents;
}
.login-login-btn {
  top: 411px;
  left: 482px;
  width: 459.47918701171875px;
  height: 51.5625px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 10px;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  background-color: transparent;
  background-image: linear-gradient(-79deg, rgba(196, 96, 243, 1) 0%, rgba(223, 105, 189, 1) 50%, rgba(164, 41, 159, 1) 100%);
}
.login-text08 {
  top: 12.41326904296875px;
  left: 163.327880859375px;
  color: rgba(255, 255, 255, 1);
  width: 109px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Archivo;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-text10 {
  top: 97px;
  left: 618px;
  color: rgba(255, 255, 255, 1);
  width: 160px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: Book;
  text-align: center;
  font-family: Nova Square;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-text12 {
  top: 325px;
  left: 775px;
  color: rgba(255, 255, 255, 0.7300000190734863);
  width: 175px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Archivo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-text14 {
  top: 468px;
  left: 664px;
  color: rgba(255, 255, 255, 0.7300000190734863);
  width: 303px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Archivo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-textinput1 {
  top: 270px;
  left: 493px;
  color: #000000;
  width: 443px;
  height: 45px;
  z-index: 30;
  position: absolute;
  align-self: flex-start;
  text-align: justify;
  caret-color: var(--dl-color-gray-white);
  font-family: Archivo;
  border-width: 0px;
  background-color: rgba(255, 255, 255, 0.6);
  text-emphasis-color: var(--dl-color-success-300);
}
